{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <title>Monitor Deslizamento Solo</title>
    {% include 'partial/_head.html' %}

</head>

<body>
{% include 'partial/_nav.html' %}
{% include 'partial/_messages.html' %}
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            {% block content %}{% endblock content %}
        </div>
    </div>
</div>

{% include 'partial/_footer.html' %}

</body>

</html>
